@import './vis.css';

svg.bubblechart{
    
}

svg.bubblechart > g > g.bubbles > circle.bubble {
    fill-opacity: 0.8;
    fill: var(--main-color);
    outline: none;
}

svg.bubblechart > g > g.bubbles > circle.bubble.selected{
    fill: var(--highlight-color);
    stroke: var(--black);
    stroke-width: 2px;
}

svg.bubblechart > g > g.bubbles > circle.bubble.highlighted{
    fill: var(--highlight-color);
    stroke: var(--black);
    stroke-width: 2px;
    fill-opacity: 1;
}
